/* ModifyVehicle.css */

.modify-vehicle-form {
  max-width: 450px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.modify-vehicle-form h2 {
  margin-bottom: 20px;
}

.modify-vehicle-form label {
  display: block;
  margin-bottom: 10px;
}

.modify-vehicle-form input[type='text'] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.modify-vehicle-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
